.container {
  max-width: $container;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    max-width: $container-md;
  }
  @media screen and (max-width: 375px) {
    max-width: $container-sm;
  }
}

.d-flex {
  display: flex;
}

.bold-ch {
  font-weight: 700;
}
